footer {
    height: 60px;
    background-color: rgb(226, 217, 217);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $primary-font;
    font-weight: 600;
    font-size: 1.4em;
}
