header {
  display: flex;
  position: relative;
  width: 100%;
  height: 42rem;
  border-left: 10px solid $black;
  // border-right: 10px solid rgb(196, 15, 84);
  background-color: $black;
  // margin-bottom: 3rem;
  .header-content {
    position: relative;
    height: 100%;
    width: 40%;
    overflow: hidden;
  }
  .carousel-slide {
    display: flex;
    height: 100%;
    width: 100%;
    img {
      display: inline-block;
      height: 100%;
      width: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    width: 60%;
    color: white;
    font-family: $primary-font;
    font-weight: 600;
    font-size: 2.5em;
    a {
      font-size: 20px;
      color: white;
    }
  }
  .features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    a {
      text-underline-position: below;
    }
  }
  h1 {
    font-size: 1.1em;
  }
  h2 {
    font-size: 1em;
    color: #b9fb67;
  }
  #dynamicHeading {
    // animation: opacityAnimation 4s linear normal;
    font-size: 30px;
    font-weight: 500;
  }
  #prevBtn {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 1em;
  }
  #nextBtn {
    width: 100px;
    position: absolute;
    top: 50%;
    right: 1em;
  }
  button {
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    background: none;
    border-radius: 50px;
    box-shadow: 1px 1px 4px #929090, -1px -1px 4px white;
    font-family: $primary-font;
    font-weight: 700;
  }
}
