.playlist-section {
    background: url(../images/overlay.png);
    background-color: black;
}
.playlist-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 3rem;
  h2 {
    font-family: $primary-font;
    font-weight: 800;
    color: white;
    font-size: 35px;
    // border-bottom: 5px solid white;
    margin-top: 1.5rem;
  }
  iframe {
      margin-top: 4rem;
  }
}
