.sliding-text-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgb(226, 217, 217);
    width: 100%;
    height: 60px;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 20px;
    span {
      animation: horizontal-scroll 25s linear infinite normal;
    }
    a {
      color: black;
    }
  }

  @keyframes horizontal-scroll {
    from {
      transform: translate(100%, 0);
    }
  
    to {
      transform: translate(-100%, 0);
    }
  }
  