@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Syne:wght@500;600;700;800&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 40rem;
  border-left: 10px solid #c40f54;
  border-right: 10px solid #c40f54;
  background-color: black;
  margin-bottom: 3rem;
}

header .header-content {
  position: relative;
  height: 100%;
  width: 40%;
  overflow: hidden;
}

header .carousel-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

header .carousel-slide img {
  height: 100%;
  width: 100%;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
}

header .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2em;
  width: 60%;
  color: white;
  font-family: "Syne", sans-serif;
  font-size: 2.5em;
}

header #prevBtn {
  width: 100px;
  position: absolute;
  top: 50%;
  left: 1em;
}

header #nextBtn {
  width: 100px;
  position: absolute;
  top: 50%;
  right: 1em;
}

header button {
  width: 100px;
  height: 30px;
  border: none;
  color: #ffffff;
  background: none;
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 4px #929090, -1px -1px 4px #ffffff;
  box-shadow: 1px 1px 4px #929090, -1px -1px 4px #ffffff;
  font-family: "Syne", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../images/gradient2.png);
  overflow-x: hidden;
}

.main-container {
  width: 100vw;
  height: 100vh;
}

.news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 3rem;
}

.news-container h2 {
  font-family: "Syne", sans-serif;
  font-weight: 800;
  color: white;
  font-size: 35px;
  border-bottom: 5px solid white;
}

.news-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  gap: 2rem;
  width: 100vw;
  padding: 4rem 6rem;
}

.news-carousel .news-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem;
  width: 30%;
  height: 700px;
  border-radius: 8px;
  background: none;
  -webkit-box-shadow: 2px 2px 10px #aa7791, -2px -2px 10px #aa7791;
  box-shadow: 2px 2px 10px #aa7791, -2px -2px 10px #aa7791;
  font-family: sans-serif;
  font-size: 20px;
}

.news-carousel .news-card img {
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 50%;
}

.news-carousel .news-card .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
  background-color: #e9e9e9;
  padding: 1rem;
  height: 50%;
  line-height: 2.2rem;
}

.news-carousel .news-card h3 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  text-align: center;
}

.news-carousel .news-card .text-extras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
}

.news-carousel .news-card .text-extras span {
  font-family: "Syne", sans-serif;
  font-weight: 500;
  font-size: 0.9em;
}

.news-carousel .news-card .text-extras button {
  width: 10rem;
  height: 30px;
  border: none;
  color: black;
  background: none;
  border-radius: 50px;
  -webkit-box-shadow: 1px 1px 4px #929090, -1px -1px 4px #ffffff;
  box-shadow: 1px 1px 4px #929090, -1px -1px 4px #ffffff;
  font-family: "Syne", sans-serif;
  font-weight: 700;
}

.sliding-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  background-color: #e2d9d9;
  width: 100vw;
  height: 60px;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.sliding-text-container span {
  animation: horizontal-scroll 2s linear infinite alternate-reverse;
}

@-webkit-keyframes horizontal-scroll {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@keyframes horizontal-scroll {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}
/*# sourceMappingURL=style.css.map */
