@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Syne:wght@700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
}

.sliding-text-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: rgb(226, 217, 217);
  width: 100vw;
  height: 60px;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 20px;
  span {
    animation: horizontal-scroll 2s linear infinite alternate-reverse;
  }
}

header {
  position: relative;
  width: 100%;
  height: 40rem;
  border-left: 10px solid rgb(196, 15, 84);
  border-right: 10px solid rgb(196, 15, 84);
  background-color: black;
  .header-content {
    height: 100%;
    width: 40%;
    overflow: hidden;
  }
  .carousel-slide {
    display: flex;
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
  #prevBtn {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 1em;
  }
  #nextBtn {
    width: 100px;
    position: absolute;
    top: 50%;
    right: 1em;
  }
  button {
    width: 100px;
    height: 30px;
    border: none;
    color: #ffffff;
    background: none;
    border-radius: 50px;
    box-shadow: 5px 5px 10px #929090, -5px -5px 10px #ffffff;
    font-family: "Syne", sans-serif;
  }
}

/********************************KEY FRAMES********************************/

@keyframes horizontal-scroll {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-50%, 0);
  }
}
