@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Syne:wght@700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  // background-color: whitesmoke;
  background-image: url(../images/gradient2.png);
  // overflow-x: hidden;
}

.main-container {
  width: 100vw;
  height: 100vh;
}

.sliding-text-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: rgb(226, 217, 217);
  //   background: rgb(182, 17, 239);
  //   background: linear-gradient(
  //     266deg,
  //     rgba(182, 17, 239, 1) 10%,
  //     rgba(246, 34, 93, 1) 100%
  //   );
  width: 100vw;
  height: 60px;
  font-family: "Syne", sans-serif;
  font-weight: 700;
  font-size: 20px;
  span {
    animation: horizontal-scroll 2s linear infinite alternate-reverse;
  }
}

header {
  display: flex;
  position: relative;
  width: 100%;
  height: 40rem;
  border-left: 10px solid rgb(196, 15, 84);
  border-right: 10px solid rgb(196, 15, 84);
  background-color: black;
  margin-bottom: 3rem;
  .header-content {
    position: relative;
    height: 100%;
    width: 40%;
    overflow: hidden;
  }
  .carousel-slide {
    display: flex;
    height: 100%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
  .text-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    width: 60%;
    color: white;
    font-family: "Syne", sans-serif;
    font-size: 2.5em;
  }
  #prevBtn {
    width: 100px;
    position: absolute;
    top: 50%;
    left: 1em;
  }
  #nextBtn {
    width: 100px;
    position: absolute;
    top: 50%;
    right: 1em;
  }
  button {
    width: 100px;
    height: 30px;
    border: none;
    color: #ffffff;
    background: none;
    border-radius: 50px;
    box-shadow: 1px 1px 4px #929090, -1px -1px 4px #ffffff;
    font-family: "Syne", sans-serif;
  }
}

.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  h2 {
    font-family: "Syne", sans-serif;
    font-weight: 800;
    color: white;
    font-size: 35px;
    border-bottom: 5px solid white;
  }
}
.news-carousel {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  width: 100vw;
  padding: 4rem 6rem;
  .news-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 30%;
    height: 700px;
    // background: #ffffff;
    // box-shadow: 0px 5px 8px #bebebe, -0px 0px 1px #91476c;
    border-radius: 8px;
    background: none;
    // box-shadow: 5px 5px 10px #706f6f, -5px -5px 10px #706f6f;
    box-shadow: 2px 2px 10px #aa7791, -2px -2px 10px #aa7791;
    font-family: sans-serif;
    font-size: 20px;
    img {
      object-position: center;
      object-fit: cover;
      width: 100%;
      height: 50%;
    }
    p {
      background-color: rgb(233, 233, 233);
      // box-shadow: 1px 1px 4px #929090, -1px -1px 4px #ffffff;
      padding: 1rem;
      height: 50%;
      line-height: 2rem;
    }
  }
}

/********************************KEY FRAMES********************************/

@keyframes horizontal-scroll {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-50%, 0);
  }
}
